h2 {
    width: 100%;
    text-align: center;
}

#doc-form * label input {
    display: block;
}

#doc-form * label select {
    display: block;
}

#doc-form * input.text {
    margin-bottom: 0px;
    padding: .2em;
}

#doc-form * select {
    margin-bottom: 0px;
    padding: .2em;
}

#doc-form * textarea {
    margin-bottom: 0px;
    padding: .2em;
}

.oper_filter {
    color: black;
    float: right;
}

.oper_filter input {
    width: 100px;
}

.oper_totals {
    color: black;
    float: left;
}

.filter_instock {
    color: black;
    float: right;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

